/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.field-validation-error {
    color: red;
}

.validation-summary-errors {
    color: red;
}

.form-style {
    border-radius: 10px;
    padding: 30px;
    margin-left: 33%;
    margin-right: 33%;
}

.input-validation-error {
    border: 1px solid red;
}

.mypost-view{
    margin-left:25%;
    margin-right:25%;
    margin-top:4.5rem;
    margin-bottom:5%;
    overflow-wrap:break-word;
}

.profile-style {
    border-radius: 10px;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    background-color:white;
}

.input-style{
    width:70%;
}

.about-info {
    background-color: #E8E8E8;
    padding: 10px;
    overflow-wrap: break-word;
}

.footer-style {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    padding:10px;
}

.heading-style {
    padding: 10px;
    color: white;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4.5rem;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
